.strong{
    width: 30%;
    background-color: bisque;
    display: flex;
    text-align: center;
     margin: auto;
     border-radius: 10px;
     height: 30vh;
     margin-top: 10%;
}

input{
    width: 50%;
    height: 4vh;
    border-radius: 5px;
}

